[user]
	name = Andreas Orthey
	email = andreas.orthey@gmx.de
        editor = vim
[alias]
	st = "!sh -c 'git status' -"
  brname = "!sh -c 'git rev-parse --abbrev-ref HEAD' -"
        #todo: add mod/del/add label to the output counter
        #todo: remove counter from commited changes
	sl = "!sh -c 'git -c color.status=always \
		status --untracked-files=no|awk -v count=1\
		\"{if(gsub(/(modified:|deleted: |added:  )/ \
		,count)) count++;};1;\"' -"
	ls = ls-files
	cleanlatex = "!sh -c 'rm -vfr *.bbl *.blg *.aux *.log *.out'"
	lso = ls-files --others --exclude-standard
        mppst = "!sh -c 'cd /home/aorthey/devel/mpp/mpp-environment \
                && echo \"--------------------------\nmpp-environment\n--------------------------\n\" \
                && git status --untracked-files=no \
                && cd /home/aorthey/devel/mpp/mpp-robot \
                && echo \"--------------------------\nmpp-robot\n--------------------------\n\" \
                && git status --untracked-files=no \
                && cd /home/aorthey/devel/mpp/mpp-mathtools \
                && echo \"--------------------------\nmpp-mathtools\n--------------------------\n\" \
                && git status --untracked-files=no \
                && cd /home/aorthey/devel/mpp/mpp-path-planner \
                && echo \"--------------------------\nmpp-path-planner\n--------------------------\n\" \
                && git status --untracked-files=no \
                ' -"
	hist = log --graph \
		--pretty=format:'%C(red)%h%Creset%C(yellow)%d%Creset \
		%s %C(bold blue)<%an>%Creset%C(green)(%ad)' \
		--abbrev-commit --date=short --all
	l = log --oneline
  br = !~/.gitconfig_branchscript.sh
  #git dm N : diff modified will show the diffs of the Nth modified file (not yet
  #commited)
	dm = "!sh -c 'git ls-files -m| head -n $1 \
		| tail -1 | xargs git diff ' -"
	addm = "!sh -c 'git ls-files -m| head -n $1 \
		| tail -1 | xargs git add ' -"
        #add all deleted files to the commit 
	adddeleted = "!sh -c 'git ls-files --deleted -z| xargs -0 git rm' -"
        #git last: show all files which were commited in the last commit
	last = "!sh -c 'git show HEAD^$1 --summary --name-status' -"
        #git lastdm N: show what was changed in file number N in the last commit
	lastdm = "!sh -c 'git show HEAD^0 --summary --name-status \
		| grep -E \"^(M|A|D)M?(\\s| )+\" \
		| head -n $1 | tail -1 | sed -r \"s/(M|A|D)M?\\s+//g\" \
		| xargs git diff HEAD^0..HEAD^1' -"

  submodule-laas-add = "!sh -c 'git submodule init git://github.com/jrl-umi3218/jrl-cmakemodules.git cmake  \
          && git submodule update git://github.com/jrl-umi3218/jrl-cmakemodules.git cmake' -"
  submodule-laas-remove = "!sh -c 'git submodule remove git://github.com/jrl-umi3218/jrl-cmakemodules.git cmake' -"
  rs = "!sh -c 'git remote -v show' -"

  upload-nongit-folder-to-laas-server = "!sh -c 'cd /home/aorthey/git/$1 && git init --shared && \
          git add * && git commit -am \"initial commit of $1\" && \
          cp -r /home/aorthey/git/$1/.git /home/aorthey/git/$1.git && scp -r /home/aorthey/git/$1.git aorthey@trac.laas.fr:/git/jrl/paper/ && \
          rm -rf /home/aorthey/git/$1.git && cd /home/aorthey/git/$1 && git remote add origin aorthey@trac.laas.fr:/git/jrl/paper/$1.git' -"

[url "git://roboptim.git.sourceforge.net/gitroot/roboptim/"]
        insteadOf = roboptim:
[url "ssh://softs.laas.fr/git/"] 
        insteadOf = git-laas:
[core]
	editor = vim
[color]
	ui = auto
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
         i = auto
[color "branch"]
        current = green bold
        local = green
        remote = magenta bold
[color "diff"]
        meta = magenta bold
        frag = yellow bold
        old = red bold
        new = green bold
[color "status"]
        added = green bold
        changed = yellow bold
        untracked = magenta
[color "sh"]
        branch = yellow
[push]
        default = current
[http]
        postBuffer = 524288000
[credential]
	helper = store
	useHttpPath = true
